.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

label.inline {
    display: inline-block;
    margin-right: 10px;
}

input, select {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ac9494;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.description-box {
  width: 68%;        /* makes it longer horizontally */
  min-height: 150px;  /* makes it taller */
  padding: 10px;
  font-size: 14px;
  resize: vertical;   /* allows vertical resize only */
  background-color: #ac9494;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} 

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

