<h2>All Students</h2>

@if (loading) {
  <p>Loading students...</p>
} 
@else if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
} 
@else if (students.length === 0) {
  <p>No students available.</p>
} 
@else {
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Enrolled Courses</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>
            <ul>
                <li *ngFor="let courseId of student.enrolledCourseIds">
                {{ getCourseName(courseId) }}
                </li>
            </ul>
        </td>
      </tr>
    </tbody>
  </table>
}
