.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

h3{
    margin: 0 0 10px 0;
}

.special-offer {
    margin-top: 10px;
    padding: 0.5rem;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.sale-banner {
    color: #fff;
    font-weight: bold;
    background-color: #0abf46;
    width: 100%;
    padding: 0.75rem;
    margin: 10px 0;
    text-align: center;
}


button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

